---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Layout from "../../layouts/Base.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const BASE_CARD_STYLES =
  "prose prose-slate border-slate-8 bg-slate-2 flex flex-col justify-between rounded-lg border p-6 shadow-md";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="w-full">
    {
      posts.length === 0 ? (
        <p>Time to write some stuff!</p>
      ) : (
        <h1 class="prose prose-lg prose-slate decoration-crimson-9 mb-6 underline decoration-wavy">
          Blog posts
        </h1>
      )
    }
    <ul>
      {
        posts.map((post) => (
          <li>
            <a
            href={`/blog/${post.slug}/`}
            class="flex space-x-1"
            >
              <p>→</p>
              <p>{post.data.title}</p>
              <FormattedDate date={post.data.pubDate} />
                </li>
                </a>
                ))
      }
    </ul>
  </section>
</Layout>
