---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Layout from "../../layouts/Base.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { getDevToPosts } from "../../lib/content";

const remotePosts = await getDevToPosts();

const posts = [...remotePosts];

posts.sort((a, b) => {
  if (a.data.pubDate < b.data.pubDate) return 1;
  if (a.data.pubDate > b.data.pubDate) return -1;
  return 0;
});
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="w-full">
    {
      posts.length === 0 && (
        <p>Oh wait lmao i gotta write some stuff to have a blog. brb.</p>
      )
    }
    <ul class="flex w-full flex-col gap-4">
      {
        posts.map((post) => (
          <li class="flex w-full justify-between gap-2">
            <FormattedDate date={post.data.pubDate} />
            <a class="text-end" href={`/blog/${post.slug}/`}>
              {post.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
