---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import Layout from "../../layouts/Base.astro";
import { getDevToPosts } from "../../lib/content";
import { hashCode, intToRGB } from "../../lib/utils";

const remotePosts = await getDevToPosts();

const posts = [...remotePosts];

posts.sort((a, b) => {
  if (a.data.pubDate < b.data.pubDate) return 1;
  if (a.data.pubDate > b.data.pubDate) return -1;
  return 0;
});
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section class="w-full">
    {
      posts.length === 0 && (
        <p>Oh wait lmao i gotta write some stuff to have a blog. brb.</p>
      )
    }
    <div class="grid w-full grid-cols-1 gap-4 md:grid-cols-2">
      {
        posts.map((post) => (
          <a href={`/blog/${post.slug}`}>
            <div class="border-slate-7 bg-slate-3 hover:border-slate-8 hover:bg-slate-5 max-w-sm overflow-hidden rounded-lg border p-4 transition-colors">
              <div class="flex flex-col items-start">
                <p class="text-slate-11 text-sm">
                  {new Date(post.data.pubDate).toDateString()}
                </p>
                <h2 class="text-slate-12 text-xl font-bold">
                  {post.data.title}
                </h2>
                <ul class="flex justify-start">
                  {post.data.tags?.map((tag) => (
                    <li class="text-slate-11 mr-2 text-sm">
                      <span style={{ color: "#" + intToRGB(hashCode(tag)) }}>
                        #
                      </span>
                      {tag}
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
