---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Base.astro";

type Props = CollectionEntry<"blog">["data"] & { slug: string };

const { title, description, pubDate, updatedDate, heroImage, slug } =
  Astro.props;

const buildOGURL = (title: string | undefined) => {
  const url = new URL("https://image.memp.dev/api");
  title && url.searchParams.set("title", `/${slug}`);
  return url.toString();
};
---

<Layout title={title} description={description} heroImage={heroImage}>
  <article class="flex flex-col items-center gap-6">
    {title && <h1 class="text-center text-4xl font-bold">{title}</h1>}
    <img
      src={heroImage || buildOGURL(title)}
      alt=""
      class="mb-6 rounded-xl shadow-lg"
    />
    {pubDate && <FormattedDate date={pubDate} />}
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <hr />
    <div class="prose prose-slate w-full">
      <slot />
    </div>
  </article>
</Layout>
