---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Base.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title={title} description={description} heroImage={heroImage}>
  <article class="flex flex-col items-center gap-6">
    {title && <h1 class="text-center text-4xl font-bold">{title}</h1>}
    {
      heroImage && (
        <img
          width={720}
          height={360}
          src={heroImage}
          alt=""
          class="mb-6 rounded-xl shadow-lg"
        />
      )
    }
    {pubDate && <FormattedDate date={pubDate} />}
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <hr />
    <div class="prose prose-slate max-w-none">
      <slot />
    </div>
  </article>
</Layout>
